*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    background-color: #F8FCEC;
    padding: 1%;
    display: flex;
    align-items: center;
    border: 2px solid #94CA74;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

li img {
    width: 10%;
    max-width: 110px;
    margin-left: 4%;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
  .dropbtn {
    background-color: #fff;
    color: #333;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    padding: 12px 16px;
    margin-top: 8px;
    border-radius: 5px;
}
  
.dropdown-content a {
    color: #333;
    padding: 8px 0;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.post {
    width: 50%;
    border: 2px solid #94CA74;
    border-radius: 4px;
    padding: 20px;
    margin-left: 5%;
    margin-top: 3%;
}
  
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
.post-title {
    margin: 0;
}
  
.post-content {
    margin-bottom: 10px;
}
  
.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #999;
}

.post-footer img {
    width: 10%;
    max-width: 20px;
    margin-left: 0%;
}
  
.post-comments {
    padding-left: -1%;
    margin-left: 5%;
}
  
.post-cited {
    margin: 0;
}

.post2 {
    margin-top: 0.5%;
    width: 50%;
    border: 2px solid #94CA74;
    border-radius: 4px;
    padding: 20px;
    margin-left: 5%;
}

.post3 {
    margin-top: 0.5%;
    width: 50%;
    border: 2px solid #94CA74;
    border-radius: 4px;
    padding: 20px;
    margin-left: 5%;
}

a{
    text-decoration: none;
}