*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    background-color: #F8FCEC;
    padding: 1%;
    display: flex;
    align-items: center;
    border: 2px solid #94CA74;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

li img {
    width: 10%;
    max-width: 110px;
    margin-left: 4%;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
  .dropbtn {
    background-color: #fff;
    color: #333;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    padding: 12px 16px;
    margin-top: 8px;
    border-radius: 5px;
}
  
.dropdown-content a {
    color: #333;
    padding: 8px 0;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8FCEC;
    border: 2px solid #94CA74;
    border-radius: 4px;
    padding: 20px;
    margin-left: 2%;
    margin-top: 3%;
}

.cont {
    display: flex;
    align-items: center;
    width: 50%;
}

.cont img {
    width: 40%;
    max-width: 110px;
    margin-left: 3%;
}

.cont h1 {
    margin-left: 2%;
}

.aaaa{
    margin-left: 2%;
    width: 50%;
}

.aaaa h1{
    font-size: 2vw;
}

.www{
    margin-left: 1%;
    width: 120%;
}

.www p{
    margin-left: 1%;
    margin-right: 1%;
    font-size: 0.9vw;
    color: gray;
}

.logout {
    display: flex;
    margin-right: 2%;
    background-color: brown;
    padding: .5%;
}
.logout p{
    color: white;
    font-size: 1vw;
}

.post {
    width: 90%;
    border: 2px solid #94CA74;
    border-radius: 4px;
    padding: 20px;
    margin-left: 2%;
    margin-top: 3%;
}
  
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
.post-title {
    margin: 0;
}
  
.post-content {
    margin-bottom: 10px;
}
  
.post-footer {
    display: flex;
    color: #999;
}

.post-footer img {
    width: 70%;
    max-width: 20px;
    margin-left: 1%;
    margin-right: 0.5%;
}
  
.post-cited {
    margin: 0;
}

a .logout{
    text-decoration: none;
    color: black;
}